.listItem{
    display: inline;
    padding: 2px;

}
.listbtn.done{
    opacity: 1;
     background-color: brown;
}
body{
    overflow: hidden;
}
.listbtn{
    color:white;
    opacity: 0.4;
    background-color: blue;
    outline:none;
    border:none;
    font-size: large;
    border-radius: 999px;
    padding:10px;
    margin:4px;
}
#listofAvailable{
    display:flex;
    flex-wrap: wrap;
    margin:0 auto;
    max-width:70vw;
}
#btnStart{
    background-color: black;
    padding:7px;
    width:120px;
    margin:30px auto;
    color:white;
    border-radius: 20px;
}
#btnStart:hover{
    background-color: grey;
}

#btnStop{
    background-color: red;
    padding:7px;
    width:120px;
    margin:30px 10px;
    color:white;
    border-radius: 20px;
}
#btnStop:hover{
    background-color: orange;
}